.sss {
  top: 0;
  height: 0;
  margin: 0; 
  padding: 0;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

.ssslide {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  z-index: 50;
}

.ssslide .legende {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.ssslide h3 {
  position: absolute;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  width: 100%;
  text-align: center;
  color: #fff;
  top: 100px;
  z-index: 100;
}

.ssslide p {
  position: absolute;
  font-size: 1.6em;
  color: #cfcfcf;
  top: 200px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.ssslide .lien {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 300px;
  z-index: 100;
}

.ssslide .lien a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  display: inline-block;
  background-color: #4493f1;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
  width: 16%;
  margin-top: auto;
}

.ssslide img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

.sssnext, .sssprev {
  width: 100px;
  height: 100%;
  margin: 0;
  position: absolute;
  z-index: 600;
  top: 0;
}

.sssprev {
  left: 0;
  top: 0;
  transition: all ease 1s;
}
.sssnext {
  right: 0;
  top: 0;
  transition: all ease 1s;
}

.sssprev:hover {
  cursor: pointer;
  background: -moz-linear-gradient(left, rgba(255,255,255,0.5), rgba(255,255,255,0)); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.5),rgba(255,255,255,0)); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,0)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  transition: all ease 1s;
}

.sssnext:hover {
  cursor: pointer;
  background: -moz-linear-gradient(right, rgba(255,255,255,0.5), rgba(255,255,255,0)); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(255,255,255,0.5), rgba(255,255,255,0)); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(255,255,255,0.5), rgba(255,255,255,0)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  transition: all ease 1s;
}

